<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <span>

            <%= book.authors %> <br>

        </span>
        <strong><%= book.title %></strong>
        
    </div>
    <div class="mb-1">
        <%=book.pageCount %> pages <br>
        isbn: <%=book.isbn%> <br>
        categories: (<%=book.categories %>) <br>
    </div>



    <div class="p-3">
        Description: <br> <br>
        <%=book.longDescription %>
    </div>

</div>

<hr>

